* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
}


#nav {
    width: 100%;
    margin-top: -130px;
    display: inherit;
    z-index: 99999999;
    position:absolute;
   
  }
  ul,
  li {
    list-style: none outside none;
  }
  /* basic menu styles */
  .nav-menu {
    display: block;
    background: #74adaa;
    width: 1100px;
    z-index: 99999999;
  
    margin: 30px auto 30px;
  }
  .nav-menu > li {
    display: inline;
    float: left;
    z-index: 999999;
    border-right: 1px solid rgb(255, 255, 255);
    position: relative;
  }
  .nav-menu > li:last-child {
    border-right: none;
  }
  .nav-menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-smooth: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 30px 15px 31px;
  }
  
  /* animation domination */
  .three-d {
    perspective: 200px;
    transition: all 0.07s linear;
    position: relative;
  }
  
  .three-d:not(.active):hover {
    cursor: pointer;
  }
  
  .three-d:not(.active):hover .three,
  .three-d:not(.active):focus .three {
    transform: translateZ(-25px) rotateX(90deg);
  }
  
  .three {
    transition: all 0.3s ease-out;
    transform: translatez(-25px);
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .front {
    transform: rotatex(0deg) translatez(25px);
  }
  
  .back {
    transform: rotatex(-90deg) translatez(25px);
    color: #ffe7c4;
  }
  
  .front,
  .back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
    background: #ffffff;
    padding: 15px 30px 15px 31px;
    color: rgb(3, 0, 0);
    pointer-events: none;
    box-sizing: border-box;
  }
  .nav-menu li .active .front,
  .nav-menu li .active .back,
  .nav-menu li a:hover .front,
  .nav-menu li a:hover .back {
    background-color: rgb(3, 3, 0);
    background-size: 5px 5px;
    background-position: 0 0, 30px 30px;
    color: rgb(240, 233, 233);
  }
  #text-div h1 {
    font-size: 70px;
  
}
  .nav-menu ul {
    position: absolute;
    left: -40px;
    text-align: left;
    line-height: 40px;
    font-size: 10px;
    width: 200px;
    transition: all 0.3s ease-in;
    transform-origin: 0px 0px;
    transform: rotateX(-90deg);
    backface-visibility: hidden;
  }
  .nav-menu > li:hover ul {
    display: block;
    transform: rotateX(0deg);
  }
/* Toggle Menu */
.toggle-menu {
    transform: translateX(10%) translateY(100%);
    display: none;
    position: relative;
    /* top: 30px; */
    left: -30px;
    z-index: 100;
  }
  .toggle-icon {
    font-size: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .toggle-items {
    list-style: none;
    background-color: #1a1943;
    width: 130px;
    line-height: 47px;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding-left: 3vw;
  
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  li[class^="toggle-item-"] a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
  }
  li[class^="toggle-item-"] a:hover {
    color: #dc18ff !important;
  }
  .toggle-item-1 a {
    color: rgb(97 159 255) !important;
  }
  #toggle-btn {
    display: none;
  }
  #toggle-btn:checked + .toggle-items {
    display: block;
  }
  

#main #text-div {
    margin: 7em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    font-size: 1vw;
}

#text-div h1 {
    font-size: 70px;
}

#text-div h1 span {
    color: red;
}

#text-div h3 {
    color: rgb(134, 134, 134);
    font-weight: 400;
}

#main .featured {
    width: 75%;
    margin: 0 auto;
    font-size: 1vw;
}

.featured h1 {
    font-size: 35px;
}

.featured h1 span{
    color: red;
}

.featured .top-web {
    width: 100%;
    display: flex;
    gap: 4em;
    margin-top: 4em;
}

.top-web .cards {
    width: 350px;
    font-size: 1vw;
}

.cards .top {
    width: 100%;
    height: 300px;
}

.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .bottom {
    margin-top: 2em;
    font-size: 1vw;
}

.bottom h2 {
    font-size: 1.8vw;
    font-weight: 600;
}

.bottom h5 {
    margin-top: 0.5em;
    margin-bottom: 3em;
}

.bottom p {
    font-size: 1.2vw;
    line-height: 30px;
    color: rgb(88, 88, 88);
}

.bottom button {
    padding: 0.8em 2em;
    margin-top: 1.5em;
    letter-spacing: 0.3em;
    background-color: #EC4067;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

@media(min-width:330px) and (max-width:550px) {
    #main .featured {
        width: 100%;
        padding-left: 9em;
    }

    #text-div h3 {
        font-size: 2vw;
    }

    .featured .top-web {
        flex-direction: column;
    }

    .bottom h2 {
        font-size: 8vw;
    }

    .bottom h5 {
        font-size: 4vw;
    }

    .bottom p {
        font-size: 4vw;
    }
}
.toggle-menu {
    transform: translateX(10%) translateY(100%);
    display: none;
    position: relative;
    /* top: 30px; */
    left: -30px;
    z-index: 100;
  }
  .toggle-icon {
    font-size: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .toggle-items {
    list-style: none;
    background-color: #1a1943;
    width: 181px;
    line-height: 47px;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding-left: 3vw;
  
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  li[class^="toggle-item-"] a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    font-size: 13px;
  }
  li[class^="toggle-item-"] a:hover {
    color: #dc18ff !important;
  }
  .toggle-item-1 a {
    color: rgb(97 159 255) !important;
  }
  #toggle-btn {
    display: none;
  }
  #toggle-btn:checked + .toggle-items {
    display: block;
  }
  @media screen and (max-width: 600px) {
    .toggle-menu {
      top: -3%;
      display: block;
      position: absolute;
      left: 2%;
    }
  }
  @media screen and (min-width: 600px) {
    .toggle-menu {
      display: none;
    }
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  







/* @media (min-width: 551px) and (max-width: 768px) {
    #main .featured {
        width: 100%;
        padding-left: 1em;
    }

    #text-div h3 {
        font-size: 2vw;
    }

    .featured .top-web {
        flex-direction: column;
    }
} */